[Desktop Entry]
Comment=Entropy Grid Generator
Name=Bitcoin Border Wallets
Exec=/usr/local/bin/tor-browser /home/amnesia/Tor\ Browser/borderwallet.html
Icon=/opt/logos/borderwallet.svg
Categories=Finance;Network;Bitcoin;
StartupNotify=true
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;
