[Desktop Entry]
Comment=P2P Bitcoin trading platform
Name=HODL HODL
Exec=/usr/local/bin/tor-browser https://hodlhodl.com
Icon=/opt/logos/hodlhodl.png
Categories=Finance;Network;Bitcoin;
StartupNotify=true
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;
