[Desktop Entry]
Comment=Nostr client
Name=Iris.to
Exec=/usr/local/bin/tor-browser https://iris.to
Icon=/opt/logos/iris_to.png
Categories=Network;Nostr;
StartupNotify=true
Terminal=false
Type=Application
MimeType=
