[Desktop Entry]
Comment=Rana mining tool
Name=Rana
Exec=kgx
Icon=/opt/rana/rana.png
Categories=Network;Nostr;
StartupNotify=true
Terminal=true
Type=Application
MimeType=
