[Desktop Entry]
Comment=Rana mining tool
Name=Rana
Exec=gnome-terminal -- bash -c "/opt/rana/./rana --help; exec bash"
Icon=/opt/rana/rana.png
Categories=Network;Nostr;
StartupNotify=true
Terminal=true
Type=Application
MimeType=
